extends ./templates/root.pug

block body
  main
    h1 Axuda

    a(href="javascript:history.back()").back Voltar

    article
      h2 Como xogar
      ol
        li Escribe "empezar" na caixa de texto para inicar o xogo
        li Tes 10 segundos para xogar, escribe as palabras o m치is r치pido que poidas 
        li Por cada palabra escrita correctamente consigues mais un segundo
        li Tenta de bater as tuas puntuaci칩ns m치is altas!


      p Boa Sorte!


block script
  script(src="~/scripts/index.js")

block styles
  link(rel="stylesheet", href="~/styles/index.scss")
  link(rel="stylesheet", href="~/styles/page.scss")

