extends ./templates/root.pug

block body

  main
    h1 Typer-GAL

    button.buttonRAG#RAG(onclick='toRAG()') RAG
    button.buttonAGAL#AGAL(onclick='toAGAL()') AGAL
    


    .top
      div(id="start_text")
        span Escribe "
        b empezar
        span " para xogar

      div(id="current_word").noselect

      div(id="time") 0s



    input(id="text_field" type="text")

 


    div(id='score_wrapper')
      span.var-name(id="scoreTxt") Puntuaci칩n
      span.equals =
      span(id="score").val 0
      span.semi ;



    .bottom
      .highscore
        span.var-name(id="hsText") Puntuaci칩n m치is alta
        span.equals =
        span(id="highscore") 0
        span.semi ;
      


    footer#footer
      a(href="helpRAG.pug", id="helpText") Axuda
      a.hide(href="helpAGAL.pug") Axuda
      a(href="https://github.com/ninest/typer" target="_blank") github
      a(href="https://github.com/ninest/typer" target="_blank", id="ogGitText") github creador orixinal

    sole#sole
      span M치is en:  
      a(href="https://aburro.me" target="_blank") aburro.me

block script
  script(src="~/scripts/index.js")

block styles
  link(rel="stylesheet", href="~/styles/index.scss")
  link(rel="stylesheet", href="~/styles/inputs.scss")
  link(rel="stylesheet", href="~/styles/footer.scss")